<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="DBType" value="SqlServer"/>
    <add key="ShowSql" value="false"/>
    <add key="OpenLog" value="true"/>
    <!-- Sql Connection String Set -->
    <!--<add key="SqlConnString" value="Data Source=.;Integrated Security=True"/>Integrated Security=True;-->
    <add key="SqlConnString" value="Data Source=.;Initial Catalog=SUCMSF;User ID=sa;Pwd=suchi12345"/>
    <add key="connection_string" value="Data Source=.;Initial Catalog=qy;User ID=sa;Pwd=suchi12345"/>
  </appSettings>
</configuration>
