<?xml version="1.0"?>
<configuration>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="DBType" value="SqlServer"/>
    <add key="ShowSql" value="false"/>
    <add key="OpenLog" value="true"/>
    <!-- Sql Connection String Set -->
    <!--<add key="SqlConnString" value="Data Source=.;Integrated Security=True"/>Integrated Security=True;-->
    <add key="SqlConnString" value="Data Source=.;Initial Catalog=SUCMSF;User ID=sa;Pwd=suchi12345"/>
  </appSettings>
</configuration>