<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connection.connection_string" value="Data Source=192.168.200.240/orcl;User Id=bj;Password=123456"/>
    <!--<add key="connection.oleconnection_string" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source='C:\Program Files (x86)\MS\YH实验室温度监视平台客户端V1.0\4.mdb'"/>-->
    <add key="connection.oleconnection_string" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source='C:\Program Files\MS\YH实验室温度监视平台客户端V1.0\4.mdb'"/>
    <!--<add key="connection.connection_string" value="Data Source=10.67.60.94/orcl;User Id=bj;Password=123456"/>-->
    <!--<add key="host" value="192.168.200.240"/>-->
    <add key="host" value="10.67.60.93"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
