<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<!--<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <!--<connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA5zSxXZkXu0awKpk9tX/znQQAAAACAAAAAAADZgAAqAAAABAAAACJIk+LpE9Z9E/tg4/7xjtSAAAAAASAAACgAAAAEAAAAEC3LkXY7Ts5b1XlZacxIx2wAQAAirDni1+8rMCXsguOdrKufWix8eFyGhhhGkqtgRO0pVnIDqTHbiuTPTVj3natWSWdbOmH9uWwGlriPWKV/rgLv9tkYiNXFcKVFiYHaXLGvFx1NFwveTP2n3J6Nquu9beRG9wuIvj24kRM1+KcYR58Lkt1XYrDBeqoAu8Qm3RL17ivetcD/iOUdEW10amT4i0POQEbFVzC1kiJUVXHqGFoJxQlSCAsbAfrKmyQnP3CWGSnakowfyLHXIDTeZrD+yuHdC3BvyX0mGsG4om75FP2rC9qABbrSPiJ6bbmNmyIbgifQ/+91aE2McjxcbsvvxKvsUQea9gJKGFGxe5Pyk8Rnph1vLqyGLq/qRirsm3Dyn1lWddy5VaDaf1/9d9QhSFxH5e3VCTPzI4vzVwmg19+5dZjDF9XYe6dEENl5CHlr8OzvpxE0gqabXbx8CzbQKIbxS7Z21XHzdhRTIVqZIY1XPnDbfLvHMhaY6KV/y9RsYFHUsqnTxT0v0Plpvm8wJCDo1QJT5TrkHXVQz7LK4FqIDfcGob+C0Mwj16sci1PD+8wUmeIuKMIvgKvqkr6YtfDFAAAAOZN8LoR+2k0h1LCsKFimuUmuMM5</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>-->
  <system.web>
    <httpRuntime  maxRequestLength="40960000" executionTimeout="3600"  />
    <compilation debug="true"/>
  </system.web>
  <appSettings>
    <add key="DBType" value="SqlServer"/>
    <add key="ShowSql" value="false"/>
    <add key="OpenLog" value="true"/>
    <!-- Sql Connection String Set -->
    <!--<add key="SqlConnString" value="Data Source=.;Integrated Security=True"/>Integrated Security=True;SUCMSF OfficeManage-->
    <add key="SqlConnString" value="Data Source=.;Initial Catalog=SUCMSF;User ID=sa;Pwd=suchi12345"/>
  </appSettings>
</configuration>