<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Linq.Properties.Settings.SUCMSF1ConnectionString"
            connectionString="Data Source=.;Initial Catalog=SUCMSF1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Linq.Properties.Settings.SUCMSFConnectionString" connectionString="Data Source=.;Initial Catalog=SUCMSF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>